.places {
  display: flex;
  flex-direction: column;
  padding-top: 101px;
}

@media screen and (max-width: 1279px) {
  .places {
    width: 100%;
    align-items: center;
    padding-top: 115px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    align-items: center;
    width: 100%;
    padding-top: 105px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    width: 100%;
    padding-top: 67px;
  }
}

@media screen and (max-width: 374px) {
  .places {
    width: 100%;
    padding-top: 66px;
  }
}