@import url('__header/hero__header.css');
@import url('__header-discord/hero__header-discord.css');
@import url('__header-social/hero__header-social.css');
@import url('__header-social-icon/hero__header-social-icon.css');
@import url('__header-link/hero__header-link.css');
@import url('__header-link/_discord/hero__header-link_discord.css');
@import url('__content/hero__content.css');
@import url('__image/hero__image.css');
@import url('__position/hero__position.css');
@import url('__name/hero__name.css');
@import url('__text/hero__text.css');
@import url('__button/hero__button.css');
@import url('__button-text/hero__button-text.css');
@import url('__info/hero__info.css');
.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1B2944;
  box-sizing: border-box;
}