.hero__button-text {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #1B2944;
}

@media screen and (min-width: 1280px) {
  .hero__button-text {
    font-size: 12px;
    line-height: 14px;
  }
}