.contacts__title {
  margin: 0;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  padding-bottom: 50px;
}

@media screen and (min-width: 1280px) {
  .contacts__title {
    width: 73.8%;
    letter-spacing: .4px;
    text-align: left;
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 88px;
  }
}