.hero__header {
  padding-top: 29px;
  width: 81%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .hero__header {
    padding-top: 37px;
    width: 74%;
    align-items: flex-end;
  }
}