.place__title {
  width: 457px;
  font-weight: 900;
  font-size: 72px;
  line-height: 65px;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .place__title {
    width: 47%;
    margin-right: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place__title {
    text-indent: 2px;
    width: 47%;
    height: 50%;
    padding-bottom: 0;
    padding-right: 12px;
    font-size: 42px;
    line-height: 46px;
    margin-right: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    width: 91%;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 35px;
    margin-right: 0;
    padding: 0;
  }
}

@media screen and (max-width: 374px) {
  .place__title {
    width: 90%;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 32px;
    margin-right: 0;
    padding: 0;
  }
}