.footer__icons {
  margin: 0;
  padding: 0;
  width: 52.5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  padding-bottom: 36px;
}

@media screen and (min-width: 1280px) {
  .footer__icons {
    width: 37.2%;
    padding-bottom: 206px;
  }
}