@media screen and (min-width: 1280px) {
  .content-title_height {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .content-title_height {
    line-height: 65px;
    margin-bottom: 37px;
  }
}