.hero__header-link {
  margin-left: 8px;
  margin-right: 7px;
  height: 100%;
  text-decoration: none;
  transition: .1s linear;
}

.hero__header-link:hover {
  opacity: .7;
}

@media screen and (min-width: 1280px) {
  .hero__header-link {
    margin-left: 10px;
    margin-right: 10px;
  }
}