@import url('__title/cover__title.css');
@import url('__subtitle/cover__subtitle.css');
@import url('__link/cover__link.css');
.cover {
  width: 1184px;
  height: 594px;
  background-image: url('../../images/cover.jpg');
  background-size: contain;
  position: relative;
  box-sizing: border-box;
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
  z-index: 2;
  transition: .2s linear;
}

.cover:hover:before {
  opacity: .8;
}

@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
    height: 562px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    width: 100%;
    height: 272px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (max-width: 374px) {
  .cover {
    width: 100%;
    height: 216px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}