.footer__social-item {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 13px;
}

.footer__social-item:last-of-type {
  padding-bottom: 0;
}

@media screen and (min-width: 1280px) {
  .footer__social-item {
    font-size: 16px;
    line-height: 19px;
  }
}