.places__url {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin: 0;
  transition: .1s linear;
}

.places__url:hover {
  opacity: .7;
}