.video-item__duration {
  max-width: 60px;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.3em;
  color: #FFFFFF;
  margin: 0 0 12px 0;
  z-index: 4;
}

@media screen and (max-width: 1023px) {
  .video-item__duration {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 767px) {
  .video-item__duration {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 374px) {
  .video-item__duration {
    margin-bottom: 8px;
  }
}