@import url('__logo/header__logo.css');
@import url('__languages/header__languages.css');
@import url('__language/header__language.css');
@import url('__language/_selected/header__language_selected.css');
.header {
  width: 1184px;
  max-height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .header {
    width: 91%;
    margin-top: -12px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    width: 94%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: 91.5%;
    height: 42px;
    align-items: flex-end;
  }
}

@media screen and (max-width: 374px) {
  .header {
    width: 90%;
    height: 42px;
    align-items: flex-end;
  }
}