.comments__container {
  display: flex;
  justify-content: space-between;
  padding-left: -9.5px;
  padding-right: -9.5px;
}

@media screen and (max-width: 1279px) {
  .comments__container {
    width: 92%;
  }
}

@media screen and (max-width: 1023px) {
  .comments__container {
    width: 50%;
    flex-direction: column;
    margin-top: -34px;
  }
}

@media screen and (max-width: 767px) {
  .comments__container {
    width: 100%;
    flex-direction: column;
    margin-top: 2px;
  }
}

@media screen and (max-width: 374px) {
  .comments__container {
    width: 100%;
    flex-direction: column;
    margin-top: -6px;
  }
}