@import url('__title/intro__title.css');
@import url('__stats/intro__stats.css');
@import url('__text/intro__text.css');
@import url('__statistic/intro__statistic.css');
.intro {
  width: 984px;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

@media screen and (max-width: 1279px) {
  .intro {
    width: 91%;
    padding-top: 81px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    width: 94%;
    padding-top: 81px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    width: 91%;
    padding-top: 64px;
  }
}

@media screen and (max-width: 374px) {
  .intro {
    width: 90%;
    padding-top: 64px;
  }
}