.hero__image {
  width: 111px;
  height: 114px;
}

@media screen and (min-width: 1280px) {
  .hero__image {
    order: 1;
    width: 384px;
    height: 384px;
    position: relative;
    top: 10px;
  }
}