@import url('__container/comments__container.css');
.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 108px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1279px) {
  .comments {
    width: 100%;
    padding-top: 112px;
    padding-bottom: 98px;
  }
}

@media screen and (max-width: 1023px) {
  .comments {
    width: 100%;
    padding-top: 104px;
    padding-bottom: 103px;
  }
}

@media screen and (max-width: 767px) {
  .comments {
    width: 100%;
    padding-top: 58px;
    padding-bottom: 17px;
  }
}

@media screen and (max-width: 374px) {
  .comments {
    width: 100%;
    padding-top: 59px;
    padding-bottom: 32px;
  }
}