.features__title {
  margin: 0;
  padding-top: 63px;
  padding-bottom: 60px;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  right: 12px;
}

@media screen and (min-width: 1280px) {
  .features__title {
    width: 74%;
    letter-spacing: .2px;
    font-size: 36px;
    line-height: 42px;
    text-align: left;
    right: 0;
    padding-bottom: 82px;
  }
}