@import url('__image/feature__image.css');
@import url('__title/feature__title.css');
@import url('__text/feature__text.css');
.feature {
  width: 80.5%;
  padding-bottom: 35.4px;
}

@media screen and (min-width: 1280px) {
  .feature {
    width: 32%;
    padding-bottom: 72px;
    margin-right: 6px;
    margin-left: 6px;
  }
}