.hero__header-social {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: -8px;
  padding-right: -8px;
  position: relative;
  left: 7px;
  bottom: 3px;
}