@import url('_observatory/video-item_observatory.css');
@import url('_kamchatka/video-item_kamchatka.css');
@import url('__button-link/video-item__button-link.css');
@import url('__durartion/video-item__duration.css');
@import url('__icon-play/video-item__icon-play.css');
@import url('__subtitle/video-item__subtitle.css');
@import url('__title/video-item__title.css');
@import url('__icon-play/_observatory/video-item__icon-play_observatory.css');
.video-item {
  width: 583px;
  height: 323px;
  margin-right: 9px;
  margin-left: 9px;
  border-radius: 5px;
  z-index: 2;
  position: relative;
  box-sizing: border-box;
}

.video-item::before {
  border-radius: 5px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .3;
  transition: .2s linear;
  z-index: 4;
}

.video-item:hover:before {
  opacity: .8;
}

@media screen and (max-width: 1279px) {
  .video-item {
    width: 456px;
    height: 288px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 8px;
    margin-left: 8px;
  }
}

@media screen and (max-width: 1023px) {
  .video-item {
    width: 352px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 8px;
    margin-left: 8px;
  }
}

@media screen and (max-width: 767px) {
  .video-item {
    min-width: 343px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 0 8px 0;
  }
}

@media screen and (max-width: 374px) {
  .video-item {
    min-width: auto;
    width: 100%;
    height: 192px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 0 8px 0;
  }
}
