@import url('__author/comment__author.css');
@import url('__image/comment__image.css');
@import url('__quote/comment__quote.css');
.comment {
  width: 382px;
  display: flex;
  flex-direction: column;
  margin-right: 9.5px;
  margin-left: 9.5px;
}

@media screen and (max-width: 1279px) {
  .comment {
    margin-right: 8px;
    margin-left: 8px;
  }
}

@media screen and (max-width: 1023px) {
  .comment {
    width: 100%;
    align-items: center;
    padding-top: 48px;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .comment {
    width: 100%;
    padding-top: 16px;
    align-items: center;
    margin: 0;
  }
}

@media screen and (max-width: 374px) {
  .comment {
    width: 100%;
    padding-top: 17px;
    align-items: center;
    margin: 0;
  }
}