.video-item__icon-play {
  width: 41px;
  height: 41px;
  transition: .1s linear;
  margin: 0 0 94px 0;
}

@media screen and (max-width: 1279px) {
  .video-item__icon-play {
    margin-bottom: 51px;
  }
}

@media screen and (max-width: 1023px) {
  .video-item__icon-play {
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 767px) {
  .video-item__icon-play {
    margin-bottom: 39px;
  }
}

@media screen and (max-width: 374px) {
  .video-item__icon-play {
    margin-bottom: 49px;
  }
}