@import url('__title/features__title.css');
@import url('__container/features__container.css');
.features {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #141F35;
  padding-bottom: 30px;
}
